name: Build images for VPS

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CR_REGISTRY_ID: ${{ secrets.YC_CR_REGISTRY_VPS_ID }}

jobs:
  build-crm-api:
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: apartomat-crm-api
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: "1.22.5"

    #    - name: Vet
    #      run: go vet ./...

    - name: Test
      run: go test -v ./internal/... -tags="test unit"

    - name: Build
      env:
        APARTOMAT_VERSION: ${{ github.run_number }}
      run: GOOS=linux GOARCH=amd64 CGO_ENABLED=0 go build -o bin/crm-api -ldflags "-X github.com/apartomat/apartomat/api/crm/graphql.Version=$APARTOMAT_VERSION" ./cmd/crm

    - name: Login to Yandex Cloud Container Registry
      uses: yc-actions/yc-cr-login@v1
      with:
        yc-sa-json-credentials: ${{ secrets.YC_SA_JSON_CREDENTIALS }}

    - name: Push image to Yandex Cloud Container Registry
      env:
        APARTOMAT_PRIV_KEY: ${{ secrets.APARTOMAT_PRIV_KEY }}
        IMAGE_TAG: ${{ github.run_number }}
      run: |
        echo $APARTOMAT_PRIV_KEY | base64 --decode > apartomat.key
        docker build -f ./build/docker/crm-api/Dockerfile -t cr.yandex/$CR_REGISTRY_ID/$IMAGE_NAME:$IMAGE_TAG .
        docker push cr.yandex/$CR_REGISTRY_ID/$IMAGE_NAME:$IMAGE_TAG

  build-project-page-api:
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: apartomat-project-page-api
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: "1.24.3"

      - name: Build
        env:
          APARTOMAT_VERSION: ${{ github.run_number }}
        run: GOOS=linux GOARCH=amd64 CGO_ENABLED=0 go build -o bin/project-page-api -ldflags "-X github.com/apartomat/apartomat/api/project-page/graphql.Version=$APARTOMAT_VERSION" ./cmd/project-page

      - name: Login to Yandex Cloud Container Registry
        uses: yc-actions/yc-cr-login@v1
        with:
          yc-sa-json-credentials: ${{ secrets.YC_SA_JSON_CREDENTIALS }}

      - name: Push image to Yandex Cloud Container Registry
        env:
          IMAGE_TAG: ${{ github.run_number }}
        run: |
          docker build -f ./build/docker/project-page-api/Dockerfile -t cr.yandex/$CR_REGISTRY_ID/$IMAGE_NAME:$IMAGE_TAG .
          docker push cr.yandex/$CR_REGISTRY_ID/$IMAGE_NAME:$IMAGE_TAG

  build-crm-web:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci
        working-directory: ./web/crm/

      - name: Build web/crm
        run: npm run build
        working-directory: ./web/crm/

      - name: Upload crm artifacts
        uses: actions/upload-artifact@v4
        with:
          name: crm-dist
          path: web/crm/dist/
          retention-days: 1

  build-project-page-web:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci
        working-directory: ./web/project-page/

      - name: Build web/project-page
        run: npm run build
        working-directory: ./web/project-page/

      - name: Upload project-page artifacts
        uses: actions/upload-artifact@v4
        with:
          name: project-page-dist
          path: web/project-page/dist/
          retention-days: 1

  build-nginx:
    runs-on: ubuntu-latest
    needs: [build-crm-web, build-project-page-web]
    env:
      IMAGE_NAME: apartomat-nginx
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Download crm artifacts
        uses: actions/download-artifact@v4
        with:
          name: crm-dist
          path: web/crm/dist/

      - name: Download project-page artifacts
        uses: actions/download-artifact@v4
        with:
          name: project-page-dist
          path: web/project-page/dist/

      - name: Login to Yandex Cloud Container Registry
        uses: yc-actions/yc-cr-login@v1
        with:
          yc-sa-json-credentials: ${{ secrets.YC_SA_JSON_CREDENTIALS }}

      - name: Build image and push to Yandex Cloud Container Registry
        env:
          IMAGE_TAG: ${{ github.run_number }}
        run: |
          docker build -f ./build/docker/nginx/Dockerfile -t cr.yandex/$CR_REGISTRY_ID/$IMAGE_NAME:$IMAGE_TAG .
          docker push cr.yandex/$CR_REGISTRY_ID/$IMAGE_NAME:$IMAGE_TAG